@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@font-face {
  font-family: silenthill;
  src: url(../fuente/SLNTHLN.TTF);
}
.inicio {
  width: 100%;
  height: 100vh;
  background-image: url(../imgs/portada.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.inicio .texto-portada {
  padding: 0 30px;
  margin-top: 150px;
  text-align: center;
  color: black;
}
.inicio .texto-portada h1 {
  font-family: silenthill;
  font-size: 11vh;
  font-weight: 800;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
.inicio .texto-portada h2 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 40px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
.inicio .texto-portada h2 span {
  color: #c10000;
  font-weight: 800;
}
.inicio .texto-portada .botones {
  margin-left: 40px;
  display: flex;
  justify-content: center;
}
.inicio .texto-portada .botones .boton1 {
  font-family: silenthill;
  text-decoration: none;
  font-weight: 600;
  margin-right: 40px;
  padding: 10px 30px;
  background-color: #c10000;
  color: #fff;
  border-radius: 5px;
}
.inicio .texto-portada .botones .boton1:hover {
  background-color: #fff;
  color: #c10000;
  transition: 0.5s;
}
.inicio .texto-portada .botones .boton2 {
  font-family: silenthill;
  text-decoration: none;
  font-weight: 600;
  margin-right: 40px;
  padding: 10px 30px;
  background-color: #fff;
  color: #c10000;
  border-radius: 5px;
}
.inicio .texto-portada .botones .boton2:hover {
  background-color: #c10000;
  color: #fff;
  transition: 0.5s;
}

.header-personajes {
  width: 100%;
  height: 30vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../imgs/sh2.jpg);
}
.header-personajes .texto-portada {
  padding: 0 30px;
  text-align: center;
  color: #fff;
}
.header-personajes .texto-portada h1 {
  font-family: silenthill;
  font-size: 6vh;
  font-weight: 400;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}
.header-personajes .texto-portada span {
  color: #c10000;
  font-weight: 800;
}

.header-juegos {
  width: 100%;
  height: 30vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../imgs/homecoming.jpg);
}
.header-juegos .texto-portada {
  padding: 0 30px;
  text-align: center;
  color: #fff;
}
.header-juegos .texto-portada h1 {
  font-family: silenthill;
  font-size: 6vh;
  font-weight: 400;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}
.header-juegos .texto-portada span {
  color: #c10000;
  font-weight: 800;
}

.header-historia {
  width: 100%;
  height: 30vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../imgs/historia.jpg);
}
.header-historia .texto-portada {
  padding: 0 30px;
  text-align: center;
  color: #fff;
}
.header-historia .texto-portada h1 {
  font-family: silenthill;
  font-size: 6vh;
  font-weight: 400;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}
.header-historia .texto-portada span {
  color: #c10000;
  font-weight: 800;
}

.header-arte {
  width: 100%;
  height: 30vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../imgs/frio.jpg);
}
.header-arte .texto-portada {
  padding: 0 30px;
  text-align: center;
  color: #fff;
}
.header-arte .texto-portada h1 {
  font-family: silenthill;
  font-size: 6vh;
  font-weight: 400;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}
.header-arte .texto-portada span {
  color: #c10000;
  font-weight: 800;
}

nav {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a {
  text-decoration: none;
  list-style: none;
}
nav .logo-img {
  height: 7vh;
  margin-left: 15px;
  filter: drop-shadow(2px 2px 1px black);
}
nav .logo-nombre {
  height: 7vh;
  margin-left: 9px;
  filter: drop-shadow(2px 2px 1px black);
}
nav .btn-bar {
  font-size: 35px;
  color: black;
  margin-right: 25px;
  cursor: pointer;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}
nav .btn-blanco {
  color: #fff;
}
nav .nav-menu {
  position: fixed;
  width: 100%;
  height: 0vh;
  top: 100px;
  background: rgba(0, 0, 0, 0.97);
  text-align: center;
  transition: all 0.5s;
  left: 50%;
  transform: translateX(-50%);
}
nav .nav-menu li {
  display: none;
  line-height: 30px;
  margin: 50px 0px;
  transition: all 0.5s;
}
nav .nav-menu li a {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
}
nav .nav-menu li a:hover, nav .nav-menu li a.active {
  color: #c10000;
  transition: 0.3s;
}

#check {
  display: none;
}

#check:checked ~ .nav-menu {
  height: 100vh;
}
#check:checked ~ .nav-menu li {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: #060b08;
  font-family: silenthill;
}

/*# sourceMappingURL=estilo.css.map */
