@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@font-face {
  font-family: silenthill;
  src: url(../fuente/SLNTHLN.TTF);
}
.inicio {
  width: 100%;
  height: 100vh;
  background-image: url(../imgs/portada.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.inicio .texto-portada {
  padding: 0 30px;
  margin-top: 150px;
  text-align: center;
  color: black;
}
.inicio .texto-portada h1 {
  font-family: silenthill;
  font-size: 10vh;
  font-weight: 800;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
.inicio .texto-portada h2 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 40px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
.inicio .texto-portada h2 span {
  color: #c10000;
  font-weight: 800;
}
.inicio .texto-portada .botones {
  margin-left: 40px;
  display: flex;
  justify-content: center;
}
.inicio .texto-portada .botones .boton1 {
  font-family: silenthill;
  text-decoration: none;
  font-weight: 600;
  margin-right: 40px;
  padding: 10px 30px;
  background-color: #c10000;
  color: #fff;
  border-radius: 5px;
}
.inicio .texto-portada .botones .boton1:hover {
  background-color: #fff;
  color: #c10000;
  transition: 0.5s;
}
.inicio .texto-portada .botones .boton2 {
  font-family: silenthill;
  text-decoration: none;
  font-weight: 600;
  margin-right: 40px;
  padding: 10px 30px;
  background-color: #fff;
  color: #c10000;
  border-radius: 5px;
}
.inicio .texto-portada .botones .boton2:hover {
  background-color: #c10000;
  color: #fff;
  transition: 0.5s;
}

.header-personajes {
  width: 100%;
  height: 30vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../imgs/sh2.jpg);
}
.header-personajes .texto-portada {
  padding: 0 30px;
  text-align: center;
  color: #fff;
}
.header-personajes .texto-portada h1 {
  font-family: silenthill;
  font-size: 6vh;
  font-weight: 400;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}
.header-personajes .texto-portada span {
  color: #c10000;
  font-weight: 800;
}

.header-juegos {
  width: 100%;
  height: 30vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../imgs/homecoming.jpg);
}
.header-juegos .texto-portada {
  padding: 0 30px;
  text-align: center;
  color: #fff;
}
.header-juegos .texto-portada h1 {
  font-family: silenthill;
  font-size: 6vh;
  font-weight: 400;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}
.header-juegos .texto-portada span {
  color: #c10000;
  font-weight: 800;
}

.header-historia {
  width: 100%;
  height: 30vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../imgs/historia.jpg);
}
.header-historia .texto-portada {
  padding: 0 30px;
  text-align: center;
  color: #fff;
}
.header-historia .texto-portada h1 {
  font-family: silenthill;
  font-size: 6vh;
  font-weight: 400;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}
.header-historia .texto-portada span {
  color: #c10000;
  font-weight: 800;
}

.header-arte {
  width: 100%;
  height: 30vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../imgs/frio.jpg);
}
.header-arte .texto-portada {
  padding: 0 30px;
  text-align: center;
  color: #fff;
}
.header-arte .texto-portada h1 {
  font-family: silenthill;
  font-size: 6vh;
  font-weight: 400;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}
.header-arte .texto-portada span {
  color: #c10000;
  font-weight: 800;
}

nav {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  nav {
    position: sticky;
    top: 0;
  }
}
nav a {
  text-decoration: none;
  list-style: none;
}
nav .logo-img {
  height: 7vh;
  margin-left: 15px;
  filter: drop-shadow(2px 2px 1px black);
}
nav .logo-nombre {
  height: 7vh;
  margin-left: 9px;
  filter: drop-shadow(2px 2px 1px black);
}
nav .btn-bar {
  font-size: 35px;
  color: #000000;
  margin-right: 25px;
  cursor: pointer;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}
nav .btn-blanco {
  color: #fff;
}
nav .nav-menu {
  position: absolute;
  width: 100%;
  height: 0vh;
  top: 100px;
  background: rgba(0, 0, 0, 0.97);
  text-align: center;
  transition: all 0.5s;
  left: 50%;
  transform: translateX(-50%);
}
nav .nav-menu li {
  display: none;
  line-height: 30px;
  margin: 50px 0px;
  transition: all 0.5s;
}
nav .nav-menu li a {
  color: #000000;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
}
nav .blanco li a {
  color: #fff;
}

#check {
  display: none;
}

#check:checked ~ .nav-menu {
  height: 100vh;
}
#check:checked ~ .nav-menu li {
  display: block;
}
#check:checked ~ .nav-menu li a {
  color: #fff;
}
#check:checked ~ .nav-menu li a:hover, #check:checked ~ .nav-menu li a.active {
  color: #c10000;
  transition: 0.3s;
}

@media screen and (min-width: 768px) {
  .inicio .texto-portada h1 {
    font-size: 13vh;
  }
  .inicio .texto-portada h2 {
    font-size: 27px;
  }
  .inicio .texto-portada .botones .boton1 {
    font-weight: 800;
    padding: 15px 40px;
    height: 50px;
  }
  .inicio .texto-portada .botones .boton1:hover {
    font-size: 23px;
    padding: 20px 50px;
    height: 70px;
    transition: 0.3s;
  }
  .inicio .texto-portada .botones .boton2 {
    font-weight: 800;
    padding: 15px 40px;
    height: 50px;
  }
  .inicio .texto-portada .botones .boton2:hover {
    font-size: 23px;
    padding: 20px 50px;
    height: 70px;
    transition: 0.3s;
  }
  .header-sec .texto-portada h1 {
    font-size: 8vh;
  }
  nav .logo-img {
    height: 9vh;
    margin-left: 18px;
  }
  nav .logo-img:hover {
    height: 11vh;
    transition: 0.3s;
  }
  nav .logo-nombre {
    height: 9vh;
    margin-left: 9px;
  }
  nav .logo-nombre:hover {
    height: 11vh;
    transition: 0.3s;
  }
  nav .black {
    color: #000000;
  }
  nav .btn-bar {
    display: none;
  }
  nav .nav-menu {
    top: 0;
    background: none;
    transition: none;
    text-align: right;
    margin-right: 50px;
  }
  nav .nav-menu li {
    display: inline-block;
    line-height: 100px;
    margin: 0 15px;
    transition: none;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  }
  nav .nav-menu li a {
    font-size: 17px;
    transition: font-size 0.3s;
  }
  nav .nav-menu li a:hover {
    color: #c10000;
    font-size: 25px;
    transition: 0.3s;
  }
  nav .nav-menu li a.active {
    color: #c10000;
    transition: 0.3s;
  }
}
main .noticias .sombra {
  box-shadow: 0px 0px 15px 3px rgba(255, 255, 255, 0.103);
  border-radius: 10px;
}
main .noticias h2 {
  color: #fff;
}
main .noticias h2 span {
  color: #c10000;
}
main .noticias .text-not {
  color: #fff;
  font-size: 12px;
  text-align: justify;
}
main .noticias .text-not span {
  color: #c10000;
}
@media screen and (min-width: 992px) {
  main .noticias .text-not {
    font-size: 15px;
  }
}
@media screen and (min-width: 1200px) {
  main .noticias .text-not {
    font-size: 20px;
  }
}
main .noticias .text-not .noticias-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
main .noticias .text-not .noticias-container img {
  width: 100%;
}
main .noticias .video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}
main .noticias .video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-pj .contenedor {
  max-width: auto;
  /* Establecer el ancho máximo deseado */
  margin: 0 auto;
  width: 100%;
  display: flex;
}
.main-pj .contenedor aside {
  width: 40%;
  margin: 40px;
  height: 65%;
  background-image: url(../imgs/logoazul2.jpg);
  background-size: cover;
  background-position: right center;
  padding: 30px;
  box-shadow: 0px 0px 15px 3px rgba(255, 255, 255, 0.103);
  border-radius: 10px;
  border-radius: 30px;
  position: sticky;
  top: 25px;
  text-align: center;
  max-width: calc(100vw - 400px);
}
.main-pj .contenedor aside .titulo-pj {
  font-weight: normal;
  font-size: 40px;
  margin-bottom: 20px;
  color: #c10000;
}
.main-pj .contenedor aside .indice a {
  display: block;
  margin-bottom: 15px;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}
.main-pj .contenedor aside .indice a:hover {
  color: #c10000;
  transition: all 0.3s;
}
.main-pj .contenedor .contenido .post h2 {
  color: #fff;
  text-align: center;
  margin-top: 30px;
  font-size: 8vh;
}
.main-pj .contenedor .contenido .post h4 {
  color: #fff;
  margin: 25px;
}
.main-pj .contenedor .contenido .post h4 span {
  color: #c10000;
}
.main-pj .contenedor .contenido .post .pj-info {
  margin: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main-pj .contenedor .contenido .post .pj-info .content-pj {
  display: flex;
  align-items: center;
}
.main-pj .contenedor .contenido .post .pj-info img {
  width: 8vw;
  max-height: 250px;
  margin: auto;
}
.main-pj .contenedor .contenido .post .pj-info .texto-pj {
  max-width: 40vw;
  margin-left: 80px;
  text-align: justify;
  font-family: poppins;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .main-pj .contenedor {
    flex-direction: column;
  }
  .main-pj .contenedor aside {
    width: 100vw;
    max-width: 80%;
    margin: 40px auto;
    padding: 30px;
    position: static;
  }
  .main-pj .contenedor aside .indice a {
    font-size: 18px;
  }
  .main-pj .contenedor .contenido .post h2 {
    font-size: 50px;
  }
  .main-pj .contenedor .contenido .post .pj-info {
    display: flex;
    flex-direction: row;
  }
  .main-pj .contenedor .contenido .post .pj-info img {
    height: auto;
    width: 20vw;
  }
  .main-pj .contenedor .contenido .post .pj-info .texto-pj {
    margin: auto;
  }
}
@media screen and (max-width: 550px) {
  .texto-pj {
    font-size: 10px;
  }
}
@media screen and (min-width: 1000px) {
  .main-pj .contenedor aside .indice a {
    font-size: 23px;
  }
  .main-pj .contenedor .contenido .post {
    display: inline-block;
  }
  .main-pj .contenedor .contenido .post h2 {
    font-size: 10vh;
  }
}
.arte div {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 25px auto;
}
.arte div h2 {
  color: #fff;
  font-size: 3rem;
}
.arte div h2 span {
  color: #c10000;
}
.arte div .card {
  box-shadow: 0px 0px 15px 3px rgba(255, 255, 255, 0.103);
  border-radius: 10px;
  background-color: rgba(86, 49, 49, 0.189);
  border: none;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
  height: 60vh;
}
.arte div .card:hover {
  opacity: 1;
}
@media screen and (max-width: 992px) {
  .arte div .card {
    opacity: 1;
  }
}
.arte div .card .card-img-top {
  height: 250px;
  object-fit: cover;
}
.arte div .card .card-text {
  color: #fff;
  font-size: 1rem;
}
.arte div .card .card-text span {
  color: #c10000;
}
.arte .video {
  display: flex;
}
.arte .video iframe {
  box-shadow: 0px 0px 15px 3px rgba(255, 255, 255, 0.103);
  border-radius: 10px;
}

.historia {
  text-align: center;
}
.historia h2 {
  margin-top: 25px;
  color: #fff;
  font-size: 3rem;
}
.historia h2 span {
  color: #c10000;
}
.historia .card {
  box-shadow: 0px 0px 15px 3px rgba(255, 255, 255, 0.103);
  border-radius: 10px;
  background-color: rgba(77, 63, 63, 0.144);
  color: #fff;
  margin: 30px;
  border: none;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
  padding: 20px;
}
.historia .card .card-header {
  font-size: 30px;
}
.historia .card:hover {
  opacity: 1;
}
@media screen and (max-width: 992px) {
  .historia .card {
    opacity: 1;
  }
}
.historia .card .card-body {
  text-align: justify;
}
.historia .card .card-body h5 {
  text-align: center;
  color: #c10000;
  font-weight: 800;
}
.historia .card .card-body .card-text {
  font-family: poppins;
}

.footer {
  background-image: url(../imgs/footer.jpg);
  background-size: cover;
  background-position: center center;
  padding: 10px 0;
}
.footer .social {
  text-align: center;
  padding-bottom: 25px;
}
.footer .social a {
  color: #fff;
  width: 40px;
  height: 40px;
  font-size: 25px;
  display: inline-block;
  border-radius: 50%;
  margin: 0 20px;
  opacity: 0.65;
}
.footer .social a:hover {
  opacity: 1;
}
.footer .list {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}
.footer .list li {
  display: inline-block;
  padding: 0 15px;
}
.footer .list li a {
  color: #fff;
  text-decoration: none;
  opacity: 0.65;
}
.footer .list li a:hover {
  opacity: 1;
}
.footer .copy {
  margin-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
  opacity: 0.45;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: #060b08;
  font-family: silenthill;
}

/*# sourceMappingURL=estilo.css.map */
