.footer {
  background-image: url(../imgs/footer.jpg);
  background-size: cover;
  background-position: center center;
  padding: 10px 0;

  .social {
    text-align: center;
    padding-bottom: 25px;

    a {
      color: $blanco;
      width: 40px;
      height: 40px;
      font-size: 25px;
      display: inline-block;
      border-radius: 50%;
      margin: 0 20px;
      opacity: 0.65;

      &:hover {
        opacity: 1;
      }
    }
  }

  .list {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;

    li {
      display: inline-block;
      padding: 0 15px;

      a {
        color: $blanco;
        text-decoration: none;
        opacity: 0.65;
        
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .copy {
    margin-top: 10px;
    text-align: center;
    font-size: 13px;
    color: $blanco;
    opacity: 0.45;
  }
}