.inicio {
    width: 100%;
    height: 100vh;
    background-image: url(../imgs/portada.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .texto-portada {
        padding: 0 30px;
        margin-top: 150px;
        text-align: center;
        color: black;


        h1 {
            font-family: silenthill;
            font-size: 11vh;
            font-weight: 800;
            margin-bottom: 30px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
        }

        h2 {
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 40px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);

            span {
                color: $colorsh;
                font-weight: 800;
            }
        }

        .botones {

            margin-left: 40px;
            display: flex;
            justify-content: center;

            .boton1 {
                font-family: silenthill;
                text-decoration: none;
                font-weight: 600;
                margin-right: 40px;
                padding: 10px 30px;
                background-color: $colorsh;
                color: $blanco;
                border-radius: 5px;
            

                &:hover {
                    background-color: $blanco;
                    color: $colorsh;
                    transition: .5s;
                }
            }

            .boton2 {
                font-family: silenthill;
                text-decoration: none;
                font-weight: 600;
                margin-right: 40px;
                padding: 10px 30px;
                background-color: $blanco;
                color: $colorsh;
                border-radius: 5px;

                &:hover {
                    background-color: $colorsh;
                    color: $blanco;
                    transition: .5s;
                }
            }
        }
    }

}

.header-personajes {
    @include tamañoheader;
    background-image: url(../imgs/personajes.jpg);

    .texto-portada {
        @include header-seccion;
    }

}
.header-juegos {
    @include tamañoheader;
    background-image: url(../imgs/heather.jpg);

    .texto-portada {
        @include header-seccion;
    }

}