main {

  .noticias {

    .sombra {
      @include sombra-foto;
    }

    h2 {
      @include color-not;
    }

    .text-not {
      @include color-not;
      font-size: 12px;
      text-align: justify;

      @media screen and (min-width:992px) {
        font-size: 15px;
      }

      @media screen and (min-width:1200px) {
        font-size: 20px;
      }

      .noticias-container {
        max-width: 1200px;
        margin: 0 auto;
        text-align: center;

        img {
          width: 100%;
        }
      }
    }

    .video-container {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
    }

    .video-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}