@media screen and (min-width: 768px) {
    .inicio {
        .texto-portada {
            h1 {
                font-size: 13vh;
            }

            h2 {
                font-size: 27px;
            }

            .botones {

                .boton1 {
                    font-weight: 800;
                    padding: 15px 40px;
                    height: 50px;
                    
                    &:hover {
                        font-size: 23px;
                        padding: 20px 50px;
                        height: 70px;
                        transition: .3s;
                    }
                
                
                }

                .boton2 {
                    font-weight: 800;
                    padding: 15px 40px;
                    height: 50px;

                    &:hover {
                        font-size: 23px;
                        padding: 20px 50px;
                        height: 70px;
                        transition: .3s;
                    }
                }
            }

        }
    }

    .header-sec {
        .texto-portada {
            h1 {
                font-size: 8vh;
            }
        }
    }


    nav {
        .logo-img {
            height: 9vh;
            margin-left: 18px;
            &:hover {
                @include logo-media;
            }

        }

        .logo-nombre {
            height: 9vh;
            margin-left: 9px;
            &:hover {
                @include logo-media;
            }
        }

        .black {
            color: black;
        }

        .btn-bar {
            display: none;
        }

        .nav-menu {


            top: 0;
            background: none;
            transition: none;
            text-align: right;
            margin-right: 50px;

            li {
                display: inline-block;
                line-height: 100px;
                margin: 0 15px;
                transition: none;
                text-shadow: $sombratexto;

                a {
                    font-size: 17px;
                    transition: font-size .3s;

                    &:hover {
                        color: $colorsh;
                        font-size: 25px;
                        transition: .3s;
                    }
                    &.active {
                        color: $colorsh;
                        transition: .3s;
                    }


                }
            }
        }
    }
}