@mixin tamañoheader {
    width: 100%;
    height: 30vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@mixin header-seccion {
    padding: 0 30px;
    text-align: center;
    color: $blanco;


    h1 {
        font-family: silenthill;
        font-size: 6vh;
        font-weight: 400;
        text-shadow: $sombratexto;
    }

    span {
        color: $colorsh;
        font-weight: 800;
    }

}