@mixin tamañoheader {
    width: 100%;
    height: 40vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@mixin header-seccion {
    padding: 0 30px;
        text-align: center;
        color: $blanco;


        h1 {
            font-family: silenthill;
            font-size: 7vh;
            font-weight: 400;
            text-shadow: $sombratexto;



        }

        h2 {
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 40px;
            text-shadow: $sombratexto;



        }
}