@mixin tamañoheader {
    width: 100%;
    height: 30vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@mixin header-seccion {
    padding: 0 30px;
    text-align: center;
    color: $blanco;

    h1 {
        font-family: silenthill;
        font-size: 6vh;
        font-weight: 400;
        text-shadow: $sombratexto;
    }

    span {
        color: $colorsh;
        font-weight: 800;
    }
}

@mixin logo-media {
    height: 11vh;
    transition: .3s;
}

@mixin color-not {
    color: $blanco;
    span {
        color: $colorsh;
    }
}

@mixin sombra-foto {
    box-shadow: 0px 0px 15px 3px rgba(255,255,255,0.50);
    border-radius: 10px;
}
  
