nav {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;

  a {
    text-decoration: none;
    list-style: none;
  }

  .logo-img {
    height: 7vh;
    margin-left: 15px;
    filter: $sombralogo;
  }

  .logo-nombre {
    height: 7vh;
    margin-left: 9px;
    filter: $sombralogo;
  }

  .btn-bar {
    font-size: 35px;
    color: $negro;
    margin-right: 25px;
    cursor: pointer;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  }

  .btn-blanco {
    color: $blanco;
  }

  .nav-menu {
    position: absolute;
    width: 100%;
    height: 0vh;
    top: 100px;
    background: rgba(0, 0, 0, .97);
    text-align: center;
    transition: all .5s;
    left: 50%;
    transform: translateX(-50%);
    
    li {
      display: none;
      line-height: 30px;
      margin: 50px 0px;
      transition: all .5s;

      a {
        color: $negro;
        font-size: 16px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 600;
      }
    }
  }

  .blanco {
    li {
      a {
        color: $blanco;
      }
    }
  }
}

#check {
  display: none;
}

#check:checked~.nav-menu {
  height: 100vh;

  li {
    display: block;

    a {
      color: $blanco;

      &:hover,
      &.active {
        color: $colorsh;
        transition: .3s;
      }
    }
  }
}