@font-face {
    font-family: silenthill;
    src: url(../fuente/SLNTHLN.TTF);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import "variables";
@import "mixins";
@import "imagenes";
@import "header";
@import "nav";
@import "media";

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color:#060b08;
    font-family: silenthill;
}